.payment-header {
	background-color: $deep-blue;
	color: $white;
	font-size: 20px;

	padding: 15px;
}
.payment-details {
	width: 50% !important;
	background-color: $white;
}
.payment-guide {
	margin: 0 0 20px 20px;
}
@media screen and (max-width: 950px) {
	.payment-details {
		width: 100% !important;
	}	
}

/** I need to confirm why this is not working  */
.form-control {
	border: 1px solid #CDCFD2;
	padding: 5px 5px 5px 60px;
	height: 50px;
}
.form-control:hover,
.form-control:focus {
	border: 1px solid #CDCFD2 !important;
	border-radius: 25px !important;
}
