<div class="dashboard-header">
	<div class="dashboard-wrapper flexContainer">
		<div class="dashboard-logo">
			<img src="./images/beauty-lounge.png" alt="">
		</div>
		<ul class="dashboard-nav flexContainer">
			<li class="dashboard-nav-item-1 active">HOME</li>
			<li class="dashboard-nav-item-2">ABOUT</li>
			<li class="dashboard-nav-item-3">CONTACT</li>
		</ul>
	</div>
</div>

<div class="dashboard-wrapper m-t-15">
	<div class="dashboard-content">
		<div class="add-new width-15 flexContainer flexEnd">
			<a class="btn" href="/add-new-product">Add new item</a>
		</div>
	
		<table class="table m-t-15">
			<thead>
				<tr>
					<th>Uploaded date</th>
					<th>Product Image</th>
					<th>Product Name</th>
					<th>Product Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr>
					<td>23-05-12</td>
					<td>img</td>
					<td>product name</td>
					<td>product description</td>
					<td><button><i class="fa fa-trash"></i></button></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
