
  <section class="login-section">
    <div class="login-form-group">
      <div class="login-header clearfix">
        <div class="welcome-message pull-left">Great to have you back!</div>
        <div class="welcome-img pull-right"><i class="fa fa-user-o fa-3x" aria-hidden="true"></i></div>
      </div>
      <div class="login-body">
        <form class="login-form" name="login-form" action="/login-store" method="POST">
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-envelope-open" aria-hidden="true"></i>            
              <input type="email" name="email" placeholder="EMAIL" class="form-control b-r-25" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" name="password" placeholder="PASSWORD" class="form-control b-r-25" required="required">
            </div>
          </div>

          <button class="btn btn-login">LET'S GO</button>
          <div class="width-100 btn-shadow-container">
            <button class="btn btn-shadow"></button>          
          </div>
          
          <div class="forgot-password"><span><a href="#">FORGOT PASSWORD?</a></span></div>

          
        </form>
      </div>
      <div class="login-footer">Don't Have Account?</div>
    </div>
  </section>