  	<div class="section-banner">
		<div class="container">
			<ul class="breadcrumb">
				<li class="active"><a href="/">WELCOME</a></li>
			</ul>
		</div>
	</div><!-- /section-banner -->

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="text-center">
            <div class="ad-box">
              <div class="ad-box-text">
                <p class="text-left">new men</p>
                <h4>Cologne</h4>
                <p class="text-right">Sales</p>
                <span class="tick"><i class="flaticon-arrowhead7"></i></span>
              </div><!-- /ad-box-inner -->
              <figure><img src="images/resource/img-3.png" alt="image"></figure>
              <a href="#"></a>
            </div><!-- /ad-box -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-center">
            <div class="ad-box">
              <div class="ad-box-text">
                <p class="text-left">new women</p>
                <h4>Perfume</h4>
                <p class="text-right">Sales</p>
                <span class="tick"><i class="flaticon-arrowhead7"></i></span>
              </div><!-- /ad-box-inner -->
              <figure><img src="images/resource/img-4.png" alt="image"></figure>
              <a href="#"></a>
            </div><!-- /ad-box -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-center">
            <div class="ad-box ad-box-outlined">
              <div class="ad-box-text">
                <p class="text-left">new men</p>
                <h4>Cologne</h4>
                <p class="text-right">Sales</p>
              </div><!-- /ad-box-inner -->
              <span class="ad-box-cut"></span>
              <a href="#"></a>
            </div><!-- /ad-box -->
          </div>
        </div>
      </div>

      <div class="features-list-box">
        <ul class="feautes-list">
          <li><a href="#">Lowest Prices</a></li>
          <li><a href="#">Vouchers for you</a></li>
          <li><a href="#">Original brands</a></li>
          <li><a href="#">products from our own stocks</a></li>
          <li><a href="#">Express shipping</a></li>
        </ul><!-- /features-list -->
      </div><!-- /features-list-box -->

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-product">
            <figure class="image-zoom">
              <img src="images/resource/img-5.jpg" alt="image">
            </figure>
            <div class="caption text-center">
              <h5><a href="product-single.html">Guess Seductive eau de toilette for women</a></h5>
              <div class="rating-star">
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7"></i>
                <i class="flaticon-favourites7"></i>
              </div><!-- /rating-star -->
              <p class="prod-price text-primary">from $17.13</p>
            </div>
          </div><!-- /thumbail -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-product">
            <figure class="image-zoom">
              <img src="images/resource/img-6.jpg" alt="image">
            </figure>
            <div class="caption text-center">
              <h5><a href="product-single.html">Bvlgari Noir eau de toilette for women</a></h5>
              <div class="rating-star">
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7"></i>
              </div><!-- /rating-star -->
              <p class="prod-price text-primary">from $32.45</p>
            </div>
          </div><!-- /thumbail -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-product">
            <figure class="image-zoom">
              <img src="images/resource/img-7.jpg" alt="image">
            </figure>
            <div class="caption text-center">
              <h5><a href="product-single.html">Gucci Premiere eau de parfum for women</a></h5>
              <div class="rating-star">
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
              </div><!-- /rating-star -->
              <p class="prod-price text-primary">from $41.37</p>
            </div>
          </div><!-- /thumbail -->
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-product">
            <figure class="image-zoom">
              <img src="images/resource/img-8.jpg" alt="image">
            </figure>
            <div class="caption text-center">
              <h5><a href="product-single.html">Ralph Lauren Polo Black eau de toilette for men</a></h5>
              <div class="rating-star">
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7 selected"></i>
                <i class="flaticon-favourites7"></i>
                <i class="flaticon-favourites7"></i>
                <i class="flaticon-favourites7"></i>
              </div><!-- /rating-star -->
              <p class="prod-price text-primary">from $54.69</p>
            </div>
          </div><!-- /thumbail -->
        </div>
      </div>
      
      <div class="tips-bar bg-primary">
        <p>Our today tips <strong>Hugo Boss Boss No. 6 Bottled Night</strong>, eau de toilette for men 3.4 oz only for <strong>$35.71</strong></p>
        <a href="beauty-expert.html" class="read-more">read more</a>
      </div><!-- /tips-bar -->

      <header class="heading">
        <span class="caro-prev caro-featured-prev"><i class="flaticon-arrowhead7"></i></span>
        <span class="caro-next caro-featured-next"><i class="flaticon-arrow487"></i></span>
        <h4>Featured Perfume</h4>
      </header>

      <div class="carousel-single owl-carousel" data-trans="backSlide" data-btn-next="caro-featured-next" data-btn-prev="caro-featured-prev">
        <div class="item">
          <div class="featured-box">
            <div class="row">
              <div class="col-sm-5">
                <figure class="image">
                  <img src="images/resource/img-12.jpg" alt="image">
                  <figcaption><a href="product-single.html">More pictures and videos  <i class="flaticon-small63"></i></a></figcaption>
                </figure>
              </div>
              <div class="col-sm-7">
                <div class="text">
                  <p>Brand: <a href="product-single.html" class="text-primary">Bvlgari</a></p>
                  <h4>Bvlgari Pour Homme Soir eau de toilette for men</h4>
                  <p><a href="#" class="read-more text-primary">More Information</a></p>
                  <p><a href="#info-1" data-toggle="collapse">When do I receive my items, if I order now? <i class="flaticon-small63"></i></a></p>
                  <div id="info-1" class="collapse in">
                    <p>Thursday 1/8/2015</p>
                    <p>The times are just approximate, estimated according to the previous delivery times of shipping companies.</p>
                    <a href="#" class="btn btn-default">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /featured-box -->
        </div>
        <div class="item">
          <div class="featured-box">
            <div class="row">
              <div class="col-sm-5">
                <figure class="image">
                  <img src="images/resource/img-12.jpg" alt="image">
                  <figcaption><a href="product-single.html">More pictures and videos  <i class="flaticon-small63"></i></a></figcaption>
                </figure>
              </div>
              <div class="col-sm-7">
                <div class="text">
                  <p>Brand: <a href="#" class="text-primary">Bvlgari</a></p>
                  <h4>Bvlgari Pour Homme Soir eau de toilette for men</h4>
                  <p><a href="product-single.html" class="read-more text-primary">More Information</a></p>
                  <p><a href="#info-2" data-toggle="collapse">When do I receive my items, if I order now? <i class="flaticon-small63"></i></a></p>
                  <div id="info-2" class="collapse in">
                    <p>Thursday 1/8/2015</p>
                    <p>The times are just approximate, estimated according to the previous delivery times of shipping companies.</p>
                    <a href="#" class="btn btn-default">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /featured-box -->
        </div>
      </div>
    </div><!-- /container -->
  </section><!-- /section -->


  <section class="section-sales section-image" style="background-image:url(images/resource/bgImg-1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7 ">
          <div class="promotion-box">
            <div class="text">
              <h4>Bath and Body</h4>
              <h3>Sale</h3>
              <h4>Save upto <strong>70%</strong></h4>
            </div>
            <a href="promotions.html" class="btn btn-default text-uppercase">Start Shopping</a>
          </div><!-- /promotion-box -->
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <header class="heading">
        <span class="caro-prev caro-related-prev"><i class="flaticon-arrowhead7"></i></span>
        <span class="caro-next caro-related-next"><i class="flaticon-arrow487"></i></span>
        <h4>You might also like</h4>
      </header>

      <div class="related-products">
        <div class="carousel-single owl-carousel" data-trans="goDown" data-btn-next="caro-related-next" data-btn-prev="caro-related-prev">
          
          <div class="item">
            <div class="row">
              <div class="col-sm-8">
                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-39.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-center">
                      <div class="thumbnail thumbnail-2">
                        <figure class="image">
                          <img src="images/resource/img-37.jpg" alt="image">
                          <figcaption>
                            <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                            <span class="text-primary">from $41.37</span>
                            <span class="tick"><i class="flaticon-arrow487"></i></span>
                            <a href="product-single.html"></a>
                          </figcaption>
                        </figure>
                      </div><!-- /thumbnail -->
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center">
                      <div class="thumbnail thumbnail-2">
                        <figure class="image">
                          <img src="images/resource/img-38.jpg" alt="image">
                          <figcaption>
                            <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                            <span class="text-primary">from $41.37</span>
                            <span class="tick"><i class="flaticon-arrow487"></i></span>
                            <a href="product-single.html"></a>
                          </figcaption>
                        </figure>
                      </div><!-- /thumbnail -->
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-34.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>

                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-35.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>

                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-36.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>
                
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col-sm-8">
                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-39.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>

              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  <div class="thumbnail thumbnail-2">
                    <figure class="image">
                      <img src="images/resource/img-34.jpg" alt="image">
                      <figcaption>
                        <h5>Beauty Treats Darling Diamond Lip Gloss Set 6 Colors</h5>
                        <span class="text-primary">from $41.37</span>
                        <span class="tick"><i class="flaticon-arrow487"></i></span>
                        <a href="product-single-2.html"></a>
                      </figcaption>
                    </figure>
                  </div><!-- /thumbnail -->
                </div>

                
              </div>
            </div>
          </div>

        </div><!-- /carousel-single -->
      </div><!-- /related-products -->
    </div>
  </section>


  <section class="section-compact no-padding-bottom">
    <div class="container">
      <div class="features-list-box">
        <ul class="feautes-list">
          <li><a href="#">rewards club card</a></li>
          <li><a href="#">gift bag service</a></li>
          <li><a href="#">100% original products</a></li>
          <li><a href="#">24/7 customer service support</a></li>
          <li><a href="#">you’ll love it</a></li>
        </ul>
      </div><!-- /features-list-box -->
      <div class="section no-padding-bottom">
        <div class="row">
          <div class="col-md-7">
            <div class="subscription-box section-image" style="background-image:url(images/resource/img-13.jpg);">
              <div class="row">
                <div class="col-sm-5 col-sm-push-6 col-md-6 col-md-push-6">
                  <h4 class="text-uppercase">Why <span>Choose Us?</span></h4>
                  <p class="text-uppercase text-primary">100% Satisfaction</p>
                  <form action="http://wow-themes.com/demo/html/perfume/index.html" method="post" class="subs-form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter your Email">
                    </div>
                    <input type="submit" class="btn btn-dark btn-block" value="Get My 10% Off">
                  </form>
                </div>
              </div>
            </div><!-- /subscription-box -->
          </div>
          <div class="col-md-5">
            <div class="feature-bx">
              <div class="media-left">
                <div class="iconic">
                  <i class="flaticon-padlock23"></i>
                </div>
              </div>
              <div class="media-body">
                <h4>Trusted <span>Since 1995</span></h4>
                <p>All products are 100% authentic original brand names. We guarantee your security and will not share your data with anyone.</p>
              </div>
            </div><!-- /feature-bx -->

            <div class="feature-bx media">
              <div class="media-left">
                <div class="iconic">
                  <i class="flaticon-medal5"></i>
                </div>
              </div>
              <div class="media-body">
                <h4>Earn <span>Rewards</span></h4>
                <p>Every purchase gets you closer to lifetime discounts. Earn one point for every dollar spent, 1000 points equals 10% off.</p>
                <a href="#" class="btn btn-default">Join Now</a>
              </div>
            </div><!-- /feature-bx -->
            <div class="feature-bx media">
              <div class="media-left">
                <div class="iconic">
                  <i class="flaticon-done2"></i>
                </div>
              </div>
              <div class="media-body">
                <h4>Wholesale <span>Account</span></h4>
                <p>Register to buy wholesale at Perfume. The best place to buy in bulk or drop ship to your customers.</p>
                <a href="#" class="btn btn-default">Register</a>
              </div>
            </div><!-- /feature-bx -->          
          </div>
        </div>
      </div>
    </div>
  </section>
