<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie-edge">
  <title>BeautyLounge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/dropzone.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../fontawesome/css/font-awesome.css">
</head>
<body>



  {{{ body }}}



  <script src="../js/dropzone.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>
