<div class="wrapper">
  <section class="cart-item flexContainer">
    <div class="item-images width-50">  
        {{#each product.images}}
          <div class="item-image fade">
            <img src="{{image_path}}" alt="">
          </div>
          {{image_path}}
        {{/each}}

<!--       <div class="item-image fade">
        <img src="../images/placeholder-img.png" alt="">
      </div>
      <div class="item-image fade">
        <img src="../images/placeholder-img.png" alt="">
      </div>
 -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="item-description" id="item-description">

      <h1 class="item-title">{{product.title}}</h1>
      <p class="short-description width-70">
        {{product.product_description}} 
        <span class="more"><a href="{{product.external_link}}">more</a></span>
      </p>
      <div class="item-more-details width-40 flexContainer">
        <div class="item-price m-r-10">NGN {{product.price}}</div>
        <div class="item-rating">
          <i class="fa fa-star" aria-hidden="true"></i> 
          <i class="fa fa-star" aria-hidden="true"></i> 
          <i class="fa fa-star" aria-hidden="true"></i> 
          <i class="fa fa-star" aria-hidden="true"></i> 
          <i class="fa fa-star-half-o" aria-hidden="true"></i>  
        </div>      
      </div>
      <ul class="counter flexContainer">
        <li class="counter-action substraction" onclick="substraction()" id="substraction"> - </li>
        <li class="counter-action count" id="value"> 1 </li>
        <li class="counter-action addition" onclick="addition()" id="addition"> + </li>
      </ul>
      <div class="btn-call-to-action">
        <button class="btn buy-now" id="buy-now" onclick="displayModal()"><i class="fa fa-shopping-cart m-r-10" aria-hidden="true"></i> Buy Now</button>
        <ul class="call-to-actions flexContainer flexEnd">
          <li class="call-to-action call-to-action-one m-r-20"><i class="fa fa-share-alt call-to-action-button-one" aria-hidden="true"></i></li>
          <li class="call-to-action call-to-action-two"><i class="fa fa-heart call-to-action-button-two" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>

    <div class="payment-details" id="payment-details" hidden="true">
      <div class="payment-header">
        <i class="fa fa-long-arrow-left" aria-hidden="true" onclick="closeModal()"></i>
      </div>
      <div class="login-body p-t-30">
        <p class="payment-guide">Please we need you to fill below details to continue make payment</p>
        <form class="payment-form" name="payment-form">
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-envelope-open" aria-hidden="true"></i>            
              <input type="email" name="email" placeholder="EMAIL" class="form-control b-r-25" required="required" autofocus>
            </div>
          </div>
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <input type="text" name="firstname" placeholder="FIRSTNAME" class="form-control b-r-25" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <input type="text" name="lastname" placeholder="LASTNAME" class="form-control b-r-25" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="icon-input">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <input type="number" name="phonenumber" placeholder="PHONE NUMBER" class="form-control b-r-25" required="required">
            </div>
          </div>
          <button class="btn btn-login">CHECKOUT</button>
        </form>
      </div>
    </div>

  </section>
</div>
