	<div class="section-banner">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Fragrances</a></li>
				<li class="dropdown active breadcrumb-search">
					<a href="#" id="one" data-toggle="dropdown">Men's Perfumes <i class="caret"></i></a>
					<ul class="dropdown-menu" aria-labelledby="one">
						<li><a href="#">Men's Perfumes</a></li>
						<li><a href="#">Women's Perfumes</a></li>
					</ul>
				</li>
				<li>
					<div class="bar-form">
						<form method="post" action="#">
							<input type="search" placeholder="Search within Men's Perfumes">
							<input type="submit">
						</form>
					</div><!-- /bar-form -->
				</li>
			</ul>
		</div>
	</div><!-- /section-banner -->

	<section class="section-compact">
		<div class="container">
			<header class="heading-3 page-heading">
				<h4> MEN'S PERFUMES <small>(4357)</small></h4>
			</header>
			
			<div class="row">

				<div class="col-md-12">
					
					<div class="filter-head">
						<strong>Sort By</strong>
						<ul class="filter-tabs">
							<li class="filter active" data-role="button" data-filter="popularity">Popularity</li>
							<li class="filter" data-role="button" data-filter="bestsellers">Bestsellers</li>
							<li class="filter" data-role="button" data-filter="pricefresh">Pricefresh</li>
							<li class="filter" data-role="button" data-filter="arrivals">Arrivals</li>
							<li class="filter" data-role="button" data-filter="rating">Customer Rating</li>
							<li class="layout-list" data-role="button"><i class="flaticon-menu10"></i></li>
							<li class="layout-grid active" data-role="button"><i class="flaticon-nine15"></i></li>
						</ul>
					</div><!-- /filter-head -->

					<ul class="filter-list">
						
						<li class="mix rating pricefresh">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-5.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Guess Seductive eau de toilette for women</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $17.13</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Guess</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Orchid</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
						<li class="mix bestsellers arrivals">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-6.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Bvlgari Noir eau de toilette for women</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $32.45</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Bvlgari</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Pear</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
						<li class="mix arrivals pricefresh">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-7.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Gucci Premiere eau de parfum for women</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $17.13</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Gucci</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Yuzu</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
						<li class="mix rating pricefresh">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-23.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Giorgio Armani SI Body Cream</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $79.00</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Armani</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Citrus</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
						<li class="mix bestsellers popularity arrivals">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-24.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Alien Eau de Parfum Spray</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $17.13</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Thierry Mugler</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Iris</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
						<li class="mix rating popularity">
							<div class="thumbnail thumbnail-product">
							  <figure class="image-zoom">
							    <img src="images/resource/img-25.jpg" alt="image">
							  </figure>
								<div class="caption">
									<div class="text-wrap">
										<h5><a href="#">Guerlain Shalimar Parfum Initial</a></h5>
										<div class="rating-star">
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7 selected"></i>
											<i class="flaticon-favourites7"></i>
											<i class="flaticon-favourites7"></i>
										</div><!-- /rating-star -->
										<p class="prod-price text-primary">from $17.13</p>
										<div class="filter-list-disp">
											<p class="dispatch-info"><i class="flaticon-shipping"></i> Dispatched in 2 business days</p>
											<a href="#" class="btn btn-default view-detail">View Details</a>
										</div>
									</div><!-- /text-wrap -->
									<div class="list-wrap">
										<h5>Highlights:</h5>
										<ul class="list-6">
											<li>100% Genuine Product</li>
											<li>Brand: Guerlain</li>
											<li>Size: 30 ml - 200 ml</li>
											<li>Gender: Women</li>
											<li>Type: EDT</li>
											<li>Fragrance Notes: Limas</li>
										</ul>
										<a href="#" class="btn btn-default view-detail">View Details</a>
									</div><!-- /list-wrap -->
								</div>
							</div><!-- /thumbail -->
						</li>
					</ul><!-- filter-list -->
					
					<div class="pagination-right">
						<ul class="pagination pagination-lg">
							<li class="prev disabled"><a href="#"><i class="flaticon-arrowhead7"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li><li class="prev"><a href="#"><i class="flaticon-arrow487"></i></a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li class="next"><a href="#"><i class="flaticon-arrow487"></i></a></li>
						</ul>
					</div><!-- /pagination-right -->

				</div>
			</div>
		</div>
	</section>