@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Spacer
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-5,
.spacer-10,
.spacer-20,
.spacer-30,
.spacer-40,
.spacer-50,
.spacer-60,
.spacer-70,
.spacer-80,
.spacer-90,
.spacer-100 {
  display: block;
  clear: both;
  overflow: hidden; }

.spacer-5 {
  height: 5px; }

.spacer-10 {
  height: 10px; }

.spacer-20 {
  height: 20px; }

.spacer-30 {
  height: 30px; }

.spacer-40 {
  height: 40px; }

.spacer-50 {
  height: 50px; }

.spacer-60 {
  height: 60px; }

.spacer-70 {
  height: 70px; }

.spacer-80 {
  height: 80px; }

.spacer-90 {
  height: 90px; }

.spacer-100 {
  height: 100px; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Mixins
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   FlexHelpers
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flexContainer {
  -webkit-display: flex;
  display: flex; }

.flexStart {
  justify-content: flex-start; }

.flexEnd {
  justify-content: flex-end; }

.flexCenter {
  justify-content: center; }

.flexColumnDirection {
  flex-direction: column; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Padding Helpers
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.p-1 {
  padding: 0.0625em; }

.p-2 {
  padding: 0.125em; }

.p-3 {
  padding: 0.1875em; }

.p-4 {
  padding: 0.25em; }

.p-5 {
  padding: 0.3125em; }

.p-10 {
  padding: 0.625em; }

.p-15 {
  padding: 0.9375em; }

.p-20 {
  padding: 1.25em; }

.p-30 {
  padding: 1.875em; }

.p-40 {
  padding: 2.5em; }

.p-50 {
  padding: 3.125em; }

.p-t-1 {
  padding-top: 0.0625em; }

.p-t-2 {
  padding-top: 0.125em; }

.p-t-3 {
  padding-top: 0.1875em; }

.p-t-4 {
  padding-top: 0.25em; }

.p-t-5 {
  padding-top: 0.3125em; }

.p-t-10 {
  padding-top: 0.625em; }

.p-t-15 {
  padding-top: 0.9375em; }

.p-t-20 {
  padding-top: 1.25em; }

.p-t-30 {
  padding-top: 1.875em; }

.p-t-40 {
  padding-top: 2.5em; }

.p-t-50 {
  padding-top: 3.125em; }

.p-r-1 {
  padding-right: 0.0625em; }

.p-r-2 {
  padding-right: 0.125em; }

.p-r-3 {
  padding-right: 0.1875em; }

.p-r-4 {
  padding-right: 0.25em; }

.p-r-5 {
  padding-right: 0.3125em; }

.p-r-10 {
  padding-right: 0.625em; }

.p-r-15 {
  padding-right: 0.9375em; }

.p-r-20 {
  padding-right: 1.25em; }

.p-r-30 {
  padding-right: 1.875em; }

.p-r-40 {
  padding-right: 2.5em; }

.p-r-50 {
  padding-right: 3.125em; }

.p-b-1 {
  padding-bottom: 0.0625em; }

.p-b-2 {
  padding-bottom: 0.125em; }

.p-b-3 {
  padding-bottom: 0.1875em; }

.p-b-4 {
  padding-bottom: 0.25em; }

.p-b-5 {
  padding-bottom: 0.3125em; }

.p-b-10 {
  padding-bottom: 0.625em; }

.p-b-15 {
  padding-bottom: 0.9375em; }

.p-b-20 {
  padding-bottom: 1.25em; }

.p-b-30 {
  padding-bottom: 1.875em; }

.p-b-40 {
  padding-bottom: 2.5em; }

.p-b-50 {
  padding-bottom: 3.125em; }

.p-l-1 {
  padding-left: 0.0625em; }

.p-l-2 {
  padding-left: 0.125em; }

.p-l-3 {
  padding-left: 0.1875em; }

.p-l-4 {
  padding-left: 0.25em; }

.p-l-5 {
  padding-left: 0.3125em; }

.p-l-10 {
  padding-left: 0.625em; }

.p-l-15 {
  padding-left: 0.9375em; }

.p-l-20 {
  padding-left: 1.25em; }

.p-l-30 {
  padding-left: 1.875em; }

.p-l-40 {
  padding-left: 2.5em; }

.p-l-50 {
  padding-left: 3.125em; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Margin Helpers
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m-1 {
  margin: 0.0625em; }

.m-2 {
  margin: 0.125em; }

.m-3 {
  margin: 0.1875em; }

.m-4 {
  margin: 0.25em; }

.m-5 {
  margin: 0.3125em; }

.m-10 {
  margin: 0.625em; }

.m-15 {
  margin: 0.9375em; }

.m-20 {
  margin: 1.25em; }

.m-30 {
  margin: 1.875em; }

.m-40 {
  margin: 2.5em; }

.m-50 {
  margin: 3.125em; }

.m-t-1 {
  margin-top: 0.0625em; }

.m-t-2 {
  margin-top: 0.125em; }

.m-t-3 {
  margin-top: 0.1875em; }

.m-t-4 {
  margin-top: 0.25em; }

.m-t-5 {
  margin-top: 0.3125em; }

.m-t-10 {
  margin-top: 0.625em; }

.m-t-15 {
  margin-top: 0.9375em; }

.m-t-20 {
  margin-top: 1.25em; }

.m-t-30 {
  margin-top: 1.875em; }

.m-t-40 {
  margin-top: 2.5em; }

.m-t-50 {
  margin-top: 3.125em; }

.m-r-1 {
  margin-right: 0.0625em; }

.m-r-2 {
  margin-right: 0.125em; }

.m-r-3 {
  margin-right: 0.1875em; }

.m-r-4 {
  margin-right: 0.25em; }

.m-r-5 {
  margin-right: 0.3125em; }

.m-r-10 {
  margin-right: 0.625em; }

.m-r-15 {
  margin-right: 0.9375em; }

.m-r-20 {
  margin-right: 1.25em; }

.m-r-30 {
  margin-right: 1.875em; }

.m-r-40 {
  margin-right: 2.5em; }

.m-r-50 {
  margin-right: 3.125em; }

.m-b-1 {
  margin-bottom: 0.0625em; }

.m-b-2 {
  margin-bottom: 0.125em; }

.m-b-3 {
  margin-bottom: 0.1875em; }

.m-b-4 {
  margin-bottom: 0.25em; }

.m-b-5 {
  margin-bottom: 0.3125em; }

.m-b-10 {
  margin-bottom: 0.625em; }

.m-b-15 {
  margin-bottom: 0.9375em; }

.m-b-20 {
  margin-bottom: 1.25em; }

.m-b-30 {
  margin-bottom: 1.875em; }

.m-b-40 {
  margin-bottom: 2.5em; }

.m-b-50 {
  margin-bottom: 3.125em; }

.m-l-1 {
  margin-left: 0.0625em; }

.m-l-2 {
  margin-left: 0.125em; }

.m-l-3 {
  margin-left: 0.1875em; }

.m-l-4 {
  margin-left: 0.25em; }

.m-l-5 {
  margin-left: 0.3125em; }

.m-l-10 {
  margin-left: 0.625em; }

.m-l-15 {
  margin-left: 0.9375em; }

.m-l-20 {
  margin-left: 1.25em; }

.m-l-30 {
  margin-left: 1.875em; }

.m-l-40 {
  margin-left: 2.5em; }

.m-l-50 {
  margin-left: 3.125em; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Float
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Width
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.width-1 {
  width: 1%; }

.width-2 {
  width: 2%; }

.width-3 {
  width: 3%; }

.width-4 {
  width: 4%; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-33 {
  width: 33.33%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.width-100 {
  width: 100%; }

/*––––––––––––––––––––––––––––––––––––––––––––––––––
*   Border
*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.b-r-25 {
  border-radius: 25px; }

/** End helpers */
/** This will contain the site,s color variable and default styles */
.wrapper {
  width: 80%;
  margin: 45px auto; }

html {
  box-sizing: border-box;
  color: #4D4D4D;
  background-color: #f6f6f6; }

*, *:before, *:after {
  box-sizing: inherit; }

.item-description {
  padding: 200px 10px 10px 25px;
  background-color: #fff; }

.item-title {
  font-size: 1.5625em;
  margin-bottom: 40px; }

.short-description {
  font-size: 0.875em;
  margin-bottom: 20px; }

.item-more-details {
  margin-bottom: 20px !important; }

.item-price {
  font-size: 1.125em; }

.item-rating .fa {
  color: #FFCE00; }

.counter {
  margin-bottom: 30px; }

.counter-action {
  border: 1px solid #F0F0F0;
  padding: 12px; }

.form-control {
  max-width: 100%; }

.btn {
  color: #fff;
  background-color: #4E87FF;
  border: 1px solid #4E87FF;
  padding: 10px 35px; }

.buy-now {
  margin-bottom: 100px; }

.call-to-action {
  padding: 10px;
  border: 2px solid #F0F0F0;
  border-radius: 50%; }

.call-to-action-button-one {
  color: #F0F0F0; }

.call-to-action-two {
  background-color: #FFCE00;
  border: 2px solid #FFCE00; }

.call-to-action-button-two {
  color: #fff; }

img {
  max-width: 100%;
  max-height: 100%; }

.item-images {
  position: relative; }

.item-image {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 75%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 16px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5); }

/* Position the "next button" to the right */
.next {
  margin-left: 12%;
  border-radius: 50%; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.6); }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
    margin: 0 auto; }

  .cart-item {
    flex-direction: column; }

  .item-images,
  .item-description,
  .short-description,
  .item-more-details {
    width: 100%; }

  .item-title {
    margin-top: 15px; }

  .btn-call-to-action {
    display: flex; }

  .buy-now {
    margin-bottom: 0;
    margin-right: auto; }

  .item-description {
    padding: 10px 10px 10px 10px; }

  .prev, .next {
    position: absolute;
    top: 85%;
    left: 75%; } }
@media screen and (max-width: 950px) and (min-width: 751px) {
  .wrapper {
    width: 80%;
    margin: 0 auto; }

  .cart-item {
    flex-direction: column; }

  .item-images,
  .item-description,
  .short-description,
  .item-more-details {
    width: 100%; }

  .item-title {
    margin-top: 15px; }

  .buy-now {
    margin-bottom: 0;
    margin-right: auto; }

  .btn-call-to-action {
    display: flex; }

  .item-description {
    padding: 10px 10px 10px 10px; }

  .next {
    margin-left: 7%; } }
@media screen and (max-width: 1200px) and (min-width: 951px) {
  .wrapper {
    width: 80%;
    margin: 70px auto; }

  .item-description {
    padding: 55px 10px 10px 10px; }

  .btn-call-to-action {
    display: flex; }

  .buy-now {
    margin-bottom: 0;
    margin-right: auto; }

  .prev, .next {
    position: absolute;
    top: 80%;
    left: 75%; } }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s; }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 15px 15px;
  background-color: #222A34;
  color: #fff; }

.modal-body {
  padding: 15px 15px; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.form-group {
  margin-bottom: 15px; }

.label-control {
  display: block; }

.form-control {
  display: block;
  width: 100%;
  height: 32px; }

.login-section {
  background-image: url(../images/login-bg.png);
  background-repeat: none;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; }

.login-form-group {
  width: 35%;
  margin: 100px auto;
  border-radius: 5px;
  background-color: #fff; }

.login-header {
  background-color: #222A34;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 0 35px 15px 35px; }
  .login-header:before, .login-header:after {
    content: "";
    display: table; }
  .login-header:after {
    clear: both; }
  .login-header {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.login-header .welcome-message {
  padding-top: 35px; }

.login-header .fa {
  position: relative;
  top: 25px;
  color: rgba(255, 255, 255, 0.2); }

.login-body {
  padding: 25px 15px 40px 15px; }

.login-form .form-control {
  border: 1px solid #CDCFD2;
  padding: 5px 5px 5px 60px;
  height: 50px; }

.login-form .form-control:hover,
.login-form .form-control:focus {
  border: 1px solid #CDCFD2 !important;
  border-radius: 25px !important; }

.icon-input {
  position: relative;
  margin: 0 20px;
  direction: ltr; }

.icon-input .fa {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: #CDCFD2; }

button.btn.btn-login {
  background-color: #00ACF1 !important;
  margin-left: 25px;
  min-width: 90%;
  height: 50px;
  border-radius: 25px !important;
  border: 1px solid #00acf1;
  font-size: 20px;
  position: relative;
  z-index: 2; }

.btn-shadow-container {
  text-align: center;
  justify-content: center; }

button.btn.btn-shadow {
  width: 80%;
  background-color: #068BC0 !important;
  border-radius: 25px !important;
  border: 1px solid #068BC0;
  position: relative;
  bottom: 15px;
  z-index: 1;
  margin-left: 10px; }

.forgot-password {
  display: flex;
  justify-content: center; }

.forgot-password span {
  padding-bottom: 5px;
  border-bottom: 2px solid #CDCFD2; }

.forgot-password span a {
  color: #75787E;
  text-decoration: none; }

.login-footer {
  text-align: center;
  padding: 30px;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  font-weight: bold;
  color: #75787E; }

@media screen and (max-width: 500px) {
  button.btn.btn-shadow {
    margin-left: 15px; } }
@media screen and (max-width: 950px) {
  .login-form-group {
    width: 90%;
    margin: 100px auto; }

  .login-header {
    padding: 0 5px 15px 5px; }

  .login-body {
    padding: 25px 5px 15px 5px; }

  button.btn.btn-shadow {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
